.features-section {
    @include vertical-alignment(space-around, center);
    margin: 3rem;
}

.feature {
    @include vertical-alignment(space-between, center);
    margin: 3rem auto;

    &__img {
        display: block;
        margin: 0 auto;
    }

    &__text-container {
        width: 90%;
    }

    &__title {
        text-align: center;
    }

    &__description {
        text-align: center;
    }
}
