.footer {
    &__container {
        margin: 6rem 2rem 0 2rem;
        display: grid;
        grid-template-areas: "logo logo"
                              "location location"
                              "number number"
                              "email email"
                              "links-1 ."
                              "links-2 ."
                              "social social";
        gap: 1rem;
        
        //Desktop Version
        @media screen and (min-width: $desktop-size) {
           width: 90%;
           margin: 0 auto;
           grid-template: 4rem 3rem 1fr/ 10rem 10rem repeat(4, 1fr);
           column-gap: 2rem;
           justify-items: center;
           align-items: baseline;
        }
    }

    &__logo {
        margin-bottom: 2rem;
        width: 8rem;
        max-width: 10rem;
        grid-area: logo;
        //Desktop Version
        @media screen and (min-width: $desktop-size){
            margin: 0;
            grid-area: 1 / 1 / span 1 / span 2;
            justify-self: flex-start;
            align-self: flex-end;
        }
    }

    &__location {
        grid-area: location;
        //Desktop Version
        @media screen and (min-width: $desktop-size){
            grid-area: 2 / 1 / span 2 / span 2;
        }
        
    }

    &__number {
        grid-area: number;
        //Desktop Version
        @media screen and (min-width: $desktop-size){
            grid-area: 2 / 3 / span 1 / span 1;
            
            & > p {
                margin-left: 2rem;
            }
        }
    }

    &__email {
        grid-area: email;
        //Desktop Version
        @media screen and (min-width: $desktop-size){
            grid-area: 3 / 3 / span 1 / span 1;
        }
    }

    &__links--1 {
        grid-area: links-1;
        //Desktop Version
        @media screen and (min-width: $desktop-size){
            grid-area: 2 / 4 / span 2 / span 1;
            margin-top: 0;
        }
    }

    &__links--2 {
        grid-area: links-2;
        //Desktop Version
        @media screen and (min-width: $desktop-size) {
            grid-area: 2 / 5 / span 2 / span 1;
            margin-top: 0;
        }
    }

    &__link {
        transition: color 750ms ease-out;
        &:hover {
            color: $blue;
        }
        &:active {
            font-weight: bold;
        }
    }

    //Social Media Icons
    &__social-media {
        @include horizontal-alignment(space-around, center);
        width: 8rem;
        margin: 2rem auto;
        grid-area: social;

        .icon {
            width: 0.9rem;
            padding: 7px;
            border: 1px solid $white;
            border-radius: 50%;
            color: $white;
            cursor: pointer;

            &:hover {
                animation: bounce 1s;
                color: $cyan;
                border-color: $cyan;
                
            }
        }

        .fa-facebook-f {
            padding-left: 10px;
        }

        //Desktop Version
        @media screen and (min-width: $desktop-size) {
            grid-area: 2 / 6 / 3 / 7;
        }
    } 

    //Content styling
    .info {
        @include horizontal-alignment(flex-start, flex-start);
    }

    &__text {
        margin: 0 0 0 1rem;
    }

    &__links > li {
        margin: 1rem 0;
    }


    .attribution {
        color: $cyan;
        width: 80%;
        margin: 2rem;
        font-size: 0.9rem;
    }
}


