.navigation {
    width: 90%;
    margin: 2rem auto;
    @include horizontal-alignment(space-between, center);

    &__logo {
        width: 25%;
        max-width: 10rem;
    }

    &__links-container {
        width: 60%;
        max-width: 18rem;
        @include horizontal-alignment(space-around, center);
    }
}