.testimonials {
    width: 85%;
    margin: 10rem auto;
    padding: 1rem 0;
    background-image: url('../images/bg-quotes.png');
    background-repeat: no-repeat;
    background-position: 10px -8px;
    display: grid;
    grid-template: 3fr 3fr 3fr / 1fr;

    //Desktop Version
    @media screen and (min-width: $desktop-size) {
        @include horizontal-alignment(space-around, center);
        width: 90%;
    }
}

.testimonial {
    margin: 1rem;
    border-radius: 10px;
    background-color: $dark-blue-4;

    &__paragraph {
        margin: 1.8rem;
        line-height: 1.8;
    }

    &__user-container {
        @include horizontal-alignment(flex-start, center);
        margin: 1.8rem;
    }

    &__user-avatar {
        width: 3.5rem;
        border-radius: 50%;
    }

    &__user-info-container {
        @include vertical-alignment(center, flex-start);
        margin-left: 1rem;
    }

    &__user-name {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    &__user-title {
        margin: 0;
    }

    //Desktop Version
    @media screen and (min-width: $desktop-size) {
        margin: 1rem 1.5rem;
    }
}